{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'assets/css/accounts.css' %}">{% endblock css %}
{% block content %}


    <section class="accounts_section">
        <div class="accounts_main w-100">
            <!-- <div class="accounts_left_main">
                <div class="accounts_left_img"></div>
            </div> -->
            <div class="accounts_right_main w-100 d-flex forgotPass" style="border-radius: 0;">
                <div class="accounts_right_card_body_div">
                    <div class="accounts_right_card_logo_div">
                        <img src="{% static 'assets/img/login_logo.svg' %}" alt="">
                        <h2>Enter Email</h2>
                        <p>No worries, we'll send reset instructions.</p>
                    </div>
                    {% if messages %}
                    <div class="messages haveText">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                    <form action="{% url 'accounts:send-otp' %}" method="post">
                    {% csrf_token %}
                    <div class="accounts_right_card_inputs_main">
                        <div class="accounts_right_card_input_inner">
                            <input id="form_name1" type="text" name="email" required>
                            <label for="form_name1">Email</label>
                            <img src="{% static 'assets/img/carbon_email.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="accounts_btn">
                        <button type="submit">Reset My Password</button>
                    </div>
                </form>
                    <p class="last_text">Don’t have an account?<a href="{% url "accounts:signup" %}"> Sign Up</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.getElementById('form_name2');
        const passwordIcon = document.getElementById('passwordIcon');

        passwordIcon.addEventListener('click', function() {
            // Toggle password visibility
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordIcon.classList.remove('bi-eye');
                passwordIcon.classList.add('bi-eye-slash');
            } else {
                passwordInput.type = 'password';
                passwordIcon.classList.remove('bi-eye-slash');
                passwordIcon.classList.add('bi-eye');
            }
        });
    });
    </script>

{% endblock script %}