@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background: #FDFAF7;
}
.header_section{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    transition: all 0.3s ease;
    background-color: #FDFAF7;
}
.header_section.scrolled {
    background-color: #0f1a1a;
    background-image: radial-gradient(circle at center, rgba(0, 255, 255, 0.05) 0%, transparent 40%), radial-gradient(circle at center, rgba(27, 27, 27, 0.6) 0%, #0f1a1a 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header_section .navbar{
    border-bottom: 1px solid #0000001A;
    padding: 15px 0px;
}
.navbar-toggler{
    border: none;
    box-shadow: none !important;
}
.navbar-nav .nav-link{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    position: relative;
    display: inline-block;
    padding: 5px 3px !important;
}
/* .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #D7531B;
    transition: width 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
} */
.navbar-nav .nav-link.active{
    font-weight: 500;
    color: #D7531B;
}
.navbar-nav .nav-link:hover{
    color: #D7531B;
}
.navbar-brand img{
    height: 45px;
    width: auto;
}
.nav_btns_main{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav_btns .login_btn{
    border: none;
    background-color: transparent;
    color: #CECFD2;
    font-weight: 400;
    font-size: 16px;
}
.nav_btns_main .nav_btn1{
    border: 1px solid #D7531B;
    border-radius: 8px;
    padding: 3px 10px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #D7531B;
    background-color: transparent;
}
.nav_btns_main .nav_btn1 img{
    height: 15px;
    width: auto;
}
.nav_btns_main button.UI_btn{
    border: 1px solid #D7531B;
    font-size: 16px;
    border-radius: 8px;
    padding: 3px 10px;
    font-weight: 500;
    font-style: Medium;
    color: #FFFFFF;
    background-color: #D7531B;
}
.nav_btns_main button.cart_btn{
    border: 1px solid #D7531B;
    font-size: 16px;
    border-radius: 8px;
    padding: 3px 8px;
    font-weight: 500;
    font-style: Medium;
    color: #FFFFFF;
    background-color: #D7531B;
}
.nav_btns_main button.cart_btn img{
    height: 15px;
    width: auto;
}
.hero_section{
    min-height: 320px;
    display: flex;
    justify-content: center;
    padding: 120px 0px 90px 0px;
    background: #233D700D;
    backdrop-filter: blur(9.649999618530273px);
    margin-top: 160px;
}
.hero_text_main{
    width: 100%;
    max-width: 992px;
    margin: auto;
    text-align: center;
}
.hero_text_main h5{
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #D7531B;
    position: relative;
    width: max-content;
    margin: auto;
}
.hero_text_main h5 img{
    position: absolute;
    right: -35px;
    top: -20px;
    height: 35px;
}
.hero_text_main h2{
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    text-align: center;
    color: #1D1D1D;
    margin-top: 10px;
}
.hero_text_main p{
    font-weight: 400;
    font-size: 18px;
    line-height: 31.9px;
    text-align: center;
    color: #555555;
}
.quote_section{
    margin-top: -60px;
    position: relative;
    z-index: 8;
}
.quote_multistep_form_main{
    background: #FFFFFF;
    padding: 30px;
    border-radius: 12px;
    min-height: 500px;
    border: 1px solid #D7531B;
}
.quote_multistep_form_main .steps {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 992px;
    margin: auto;
    border-bottom: 1px solid #0000001A;
    position: relative;
}
.quote_multistep_form_main .steps::after{
    content: "";
    height: 2px;
    background-color: #E5E4E2;
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    z-index: 1;

}
.quote_multistep_form_main .steps .step {
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    max-width: 270px;
    position: relative;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
    z-index: 6;
}
.step_circle{
    background: #E5E4E2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
}
.step_text{
    text-align: start;
}
.step_text h6{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    text-align: start;
}
.step_text p{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #999999;
}
.steps .step.active .step_text h6{
    color: #D7531B;
}
.steps .step.active .step_circle{
    background: #D7531B;
    color: #FFFFFF;
}
.steps .step.completed .step_text h6{
    color: #D7531B;
}
.steps .step.completed .step_circle{
    background: #D7531B;
    color: #FFFFFF;
}
.form-step {
    display: none;
    opacity: 0;
    transition: all 0.4s ease;
}
.form-step.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.navigation-buttons {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.navigation-buttons button#prevBtn {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #D7531B;
    color: #D7531B;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.4s ease;
    border-radius: 8px;
    font-weight: 500;
}
.navigation-buttons button#nextBtn {
    padding: 8px 20px;
    background-color: #D7531B;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.4s ease;
    border-radius: 8px;
    font-weight: 500;
}
.navigation-buttons button:hover {
    transform: scale(1.05);
}
.navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
    visibility: hidden;
}
#form_last_btns{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#form_last_btns button{
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #D7531B;
    color: #D7531B;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.4s ease;
    border-radius: 8px;
    font-weight: 500;
    width: 100%;
    max-width: 280px;
    min-width: 240px;
}
#form_last_btns button.step_active_btn{
    background-color: #D7531B;
    color: #FFFFFF;
}
.form_step_content_main{
    margin-top: 40px;
}
.form_step_cont_title{
    text-align: start;
}
.form_step_cont_title h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 0;
    color: #1D1D1D;
}
.form_step_cont_title h2 span{
    color: #D7531B;
}
.form_cont_step1_upload_file{
    border: 2px dashed #D7531BB2;
    height: 350px;
    border-radius: 12px;
    margin-top: 30px;
}
.dropzone-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.dropzone-content h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1D1D;
}
.dropzone-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
.dropzone-content span {
    display: block;
    margin: 10px 0;
    color: #999;
}
.browse-btn {
    background: #D7531B1A;
    color: #D7531B;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease;

}
.browse-btn:hover {
    transform: scale(1.1);
}
.upload-icon {
    height: 50px;
    width: auto;
    margin-bottom: 15px;
}
.file_format_main{
    background: #F1EFEF8C;
    border-radius: 12px; 
    padding: 20px;
    margin-top: 40px;
}
.file_format_main h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.file_format_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fileformat{
    width: 100%;
    max-width: 130px;
    /* margin: auto; */
    text-align: center;
}
.fileformat button{
    background: #D7531B;
    padding: 10px 8px;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
.fileformat p{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #666666;
    margin-top: 6px;
}
.file_format_bottom_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}
.file_format_bottom_text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #666666;
    margin-bottom: 0px;
}
.file_format_bottom_text a{
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #D7531B;
    text-decoration: none;
}
.file_format_bottom_text2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    gap: 15px;
}
.file_format_bottom_text2_inner {
    display: flex;
    align-items: center;
    gap: 5px;
}
.file_format_bottom_text2_inner img{
    height: 20px;
    width: auto;
}
.file_format_bottom_text2_inner p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #555555;
    margin-bottom: 0px;
}

.form_cont_step2_inner_main{
    margin-top: 30px;
}
.form_cont_step_inputs{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    margin-top: 15px;
}
.form_cont_step_inputs h5{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.form_cont_step_inputs select{
    box-shadow: none !important;
    border: 1px solid #0000001A;
    color: #999999;
    border-radius: 8px;
    padding: 10px 12px;
}
.form_cont_step_inputs p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}
.material_selection_cards_main{
    margin-top: 40px;
}
.material_sel_card_body_div{
    border: 2px solid #0000001A;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    min-height: 200px;
    width: 100%;
    transition: all 0.4s ease;
    cursor: pointer;
}
.material_sel_card_body_div.ms_card_active{
    background: #D7531B0D;
    border: 2px solid #D7531B;
}
.material_sel_card_txt1{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.material_sel_card_txt1 span{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #D7531B;
}
.material_sel_card_txt1_inner{
    display: flex;
    text-align: start;
    gap: 10px;
}
.material_sel_card_txt1_inner h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.material_sel_card_txt1_inner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    color: #666666;
}
.material_sel_card_body_div h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    text-align: start;
    width: 100%;
    max-width: 200px;
    margin-top: 12px;
}
.step_title h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1D;
    text-align: start;
}
.print_quality_cards_main{
    margin-top: 40px;
}
.print_quality_cards_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.print_quality_card_body{
    border: 2px solid #0000001A;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    min-height: 100px;
    width: 100%;
    max-width: 130px;
    min-width: 130px;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.print_quality_card_body.pq_card_active{
    background: #D7531B0D;
    border: 2px solid #D7531B;
}
.print_quality_card_body h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1D1D1D;
    margin-bottom: 0;
}
.print_quality_card_body p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    margin-bottom: 0;
}
.print_quality_card_body span{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #D7531B;
}
.infill_density_cards_main{
    margin-top: 40px;
}
.infill_den_prog_txt1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infill_den_prog_txt1 h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1D1D1D;
    margin-bottom: 0;
}
.infill_den_prog_txt1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    margin-bottom: 0;
}
.slider-wrapper {
    width: 100%;
}
.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #D7531B 0%, #D7531B 25%, #e5e5e5 25%, #e5e5e5 100%);
    outline: none;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D7531B;
    cursor: pointer;
    margin-top: -2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D7531B;
    cursor: pointer;
    border: none;
}
.range-slider::-moz-range-track {
    background: #e5e5e5;
    height: 8px;
}
.range-marks {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 6px;
    color: #666;
}
.color_selection_cards_main{
    margin-top: 40px;
}
.color_sel_inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.color_sel_inner .color-box{
    height: 35px;
    width: 85px;
    border-radius: 4px;
    transition: all 0.3s all;
    cursor: pointer;
}
.colorwhite{ 
    background: #ffffff;
    border: 1px solid #00000033;
}
.colorgray{
    background: #00000033;
}
.colorpink{ 
    background: #DC262633;
}
.colorblue{ 
    background: #2563EB; 
}
.colorgreen{ 
    background: #16A34A33 ; 
}
.coloryellow{ 
    background: #EAB30833; 
}
.colororange{ 
    background: #EA580C33; 
}
.colorpurple{ 
    background: #9333EA33; 
}
.color_sel_inner .color-box.active{
    border: 2px solid #0000004D;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.step3_order_summary_card{
    background: #F1EFEF8C;
    padding: 20px;
    border-radius: 12px;
    min-height: 200px;
    margin-top: 30px;
}
.step3_cards_title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1D;
    text-align: start;
}
.ord_sum_pro{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0000001A;
    text-align: start;
}
.ord_sum_pro h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.ord_sum_pro p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 0;
}
.step3_os_text_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}
.step3_os_text_inner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 0;
}
.step3_os_text_inner h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.step3_os_last_text_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding-top: 10px;
    margin-top: 12px;
    border-top: 1px solid #0000001A;
}
.step3_os_last_text_inner h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D7531B;
    margin-bottom: 0;
}
.step3_os_last_text_inner p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #D7531B;
    margin-bottom: 0;
}
.step3_DI_text_inner{
    margin-top: 12px;
    position: relative;
    padding-left: 24px;
    text-align: start;
}
.step3_DI_text_inner.DI_txt_Dot::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    height: 15px;
    width: 15px;
    background: #D7531B;
    border-radius: 3px;
}
.step3_DI_text_inner h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.step3_DI_text_inner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    margin-bottom: 0;
}
.step3_ET_text_inner{
    margin-top: 25px;
    position: relative;
    padding-left: 20px;
    text-align: start;
}
.step3_ET_text_inner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    height: 10px;
    width: 10px;
    background: #D7531B;
    border-radius: 50%;
}
.step3_ET_text_inner h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.step3_ET_text_inner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    margin-bottom: 0;
}
/* Shopping_Cart_CSS ============================= */
.shopcart_hero{
    margin-top: 160px;
    background: #233D700D;
    backdrop-filter: blur(9.649999618530273px);
    padding: 100px 0px 120px 0px;
    position: relative;
    z-index: 8;
}
.shopcart_title h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 50.6px;
    text-transform: capitalize;
    color: #1D1D1D;
    position: relative;
    width: max-content;
}
.shopcart_title h1 img{
    position: absolute;
    right: -30px;
    top: -12px;
    height: 35px;
}
.shopcart_title p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
}
.shopcart_title button{
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #D7531B;
    color: #D7531B;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.2s ease;
    border-radius: 8px;
    font-weight: 500;
}
.shopcart_title button:hover{
    background-color: #D7531B;
    color: #FFFFFF;
}
.shoppingcart_section{
    margin-top: -70px;
}
.shopcart_card_main{
    background-color: #FFFFFF;
    min-height: 500px;
    border: 1px solid #0000001A;
    box-shadow: 0px 4px 6px 0px #0000001A;
    border-radius: 12px;
    position: relative;
    z-index: 9;
    padding: 25px;
}
.shopcart_inputs_main{
    margin-top: 30px;
}
.shopcart_inner_main{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #0000001A;
    margin-top: 30px;
}
.shopcart_inner_pro1{
    height: 120px;
    width: 120px;
    min-width: 120px;
    background: #D7531B1A;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopcart_inner_pro2{
    height: 50px;
    width: 50px;
    background-color: #D7531B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.shopcart_inner_pro2 span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.shopcart_inner_input{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    margin-top: 15px;
}
.shopcart_inner_input select{
    box-shadow: none !important;
    border: 1px solid #0000001A;
    color: #999999;
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
}
.shopcart_inner_input input{
    box-shadow: none !important;
    border: 1px solid #0000001A;
    color: #999999;
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
}
.shopcart_inner_input label{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.shopcart_inner_input p{
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}
.shopcart_terms_input{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 45px;
}
.shopcart_terms_input label{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.shopcart_terms_input input{
    accent-color: #3399FF;
    border: 1px solid #666666;
    color: #FFFFFF;
    height: 17px;
    width: 17px;
}
.shopcart_terms_input input:checked{
    filter: invert(1) brightness(1.5) hue-rotate(1234deg);
}
.shopcart_card_title{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.shopcart_card_title a{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #D7531B;
    text-decoration: none;
}
.shopcart_card_title h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.shopcart_card_title h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    margin-bottom: 0;
    margin-top: 5px;
}
.shopcart_card_title p{
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1D1D1D;
    margin-bottom: 0;
}
.shopcart_card_title p span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding-right: 6px;
}
.shopcart_last_qnty{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.shopcart_last_qnty_inner_main{
    display: flex;
    align-items: center;
    gap: 20px;
}
.shopcart_last_qnty_inner{
    display: flex;
    gap: 10px;
    align-items: center;
}
.shopcart_last_qnty_inner label{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.shopcart_last_qnty_inner input{
    box-shadow: none !important;
    border: 1px solid #0000001A;
    color: #999999;
    border-radius: 4px;
    padding: 8px 12px;
    min-width: 100px;
    max-width: 100px;
    color: #D7531B;
    text-align: center;
    outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.shopcart_last_qnty_txt{
    text-align: end;
}
.shopcart_last_qnty_txt h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #D7531B;
    margin-bottom: 0;
}
.shopcart_last_qnty_txt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 0;
}