{% load static %}

<section class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'assets/imgs/logo.svg' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-4">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Instant Quote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">3D Modeling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "contact" %}">Contact</a>
                        </li>
                    </ul>
                    <div class="nav_btns_main"> 
                        <button type="button" class="nav_btn1">Upload File <img src="{% static 'assets/imgs/Save.svg' %}" alt=""></button>
                        <button type="button" class="UI_btn">Sign In</button>
                        <button type="button" class="cart_btn"><img src="{% static 'assets/imgs/shoppingcart.svg' %}" alt=""></button> 
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>